<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/U8Cinterface</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-CjbfU8CwebAPI-20190901131233.mdf;Initial Catalog=aspnet-CjbfU8CwebAPI-20190901131233;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CjbfU8CwebAPI-20190901131233;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CjbfU8CwebAPI-20190901131233.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="U8Cloud" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="provider=SQLOLEDB;Data Source=172.17.252.55;Initial Catalog=U8CLOUD;Uid=CmpUser;Pwd=1234!@#$qwer" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\U8Cloud_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="provider=SQLOLEDB;Data Source=172.17.252.55;Initial Catalog=U8CLOUD;Uid=CmpUser;Pwd=1234!@#$qwer" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="U8CloudUrl" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="http://39.105.145.185:8090/service/YhtUserWebServer" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\U8CloudUrl_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="http://39.105.145.185:8090/service/YhtUserWebServer" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="usercode" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="13501036623" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\usercode_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="13501036623" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="md5pwd" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="d11104560107611ef1eec41e590d8ef8" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\md5pwd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="d11104560107611ef1eec41e590d8ef8" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="shapwd" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="e0a444526f7b5c6d36d3b0aabe71ae3020ee8771" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\shapwd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="e0a444526f7b5c6d36d3b0aabe71ae3020ee8771" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)md5pwd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)shapwd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)U8Cloud-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)U8CloudUrl-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)usercode-Web.config Connection String" />
  </ItemGroup>
</Project>